<sly data-sly-use.feature="com.aem.training.site.core.models.FeaturesModel">
	<header class="header_section">
      <div class="header_top">
        <div class="container-fluid header_top_container">

          <div class="contact_nav">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                ${properties.location}
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
              ${properties.phnum}
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
              ${properties.email}
              </span>
            </a>
          </div>
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
               ${properties.fburl}
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
               ${properties.xurl}
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
               ${properties.linurl}
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
               ${properties.insurl}
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand " href="index.html"> ${properties.fintertitle} </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <div class="col-lg-2 col-md-6" >
            <div class="" >
              <h5>
                Useful links
              </h5>
              <ul class="info_menu" >
                <li >
                  <a href="${feature.url}">
                    ${feature.linkTitle}
                  </a>
                </li>
                </ul>
            </div>
          </div>
            
                  </a>
                </li>
                <form class="form-inline justify-content-center">
                  
                  ${feature.searchhere}
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
</sly>