<sly data-sly-use.info="com.aem.training.site.core.models.InfoModel">
	<section class="info_section ">
    <div class="container">
      <div class="info_top">
        <div class="row">
          <div class="col-md-3 ">
            <a class="navbar-brand" href="index.html">
              ${info.title}
            </a>
          </div>
          <div class="col-md-5 ">
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  ${properties.location}
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  ${properties.phone}
                </span>
              </a>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="social_box">
              <a href="${info.fburl}">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="${info.tburl}">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="${info.lburl}">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="${info.iburl}">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="info_bottom" >
        <div class="row">
          <div class="col-lg-3 col-md-6" >
            <div class="info_detail" data-sly-list.info="${info.infoItems}">
              <h5>
                ${info.title}
              </h5>
              <p>
                ${info.paragraph}
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info_form">
              <h5>
                NEWSLETTER
              </h5>
              <form action="">
                <input type="text" placeholder="${properties.email}">
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="">
              <h5>
                Useful links
              </h5>
              <ul class="info_menu">
                <li  data-sly-list.info="${info.infoItems}">
                  <a href="${info.linkpage}">
                    ${info.pagename}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</sly>