<sly data-sly-use.ourteam="com.aem.training.site.core.models.OurTeamModel">
<section class="team_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          ${properties.title}
        </h2>
        <p>
        ${properties.textarea}
        </p>
      </div>
      <div data-sly-list.ourteam="${ourteam.ourteamitems}">
      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/t1.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>${ourteam.name}
              </h5>
              <h6 class="">
                ${ourteam.designation}
              </h6>
               <h6 class="">
                ${ourteam.imagePath}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </section>
  </sly>